:root {
    --color-primary: #dbd946;
    --color-secondary: #68ca55;
    --color-teriary: #5acbe7;
    --color-quaternary: #8e82fc;
    --color-quinary: #eb73d1;

    --color-gray: #eee;

    --color-text-primary: #eee;
    --color-text-secondary: #9d9d9d;
    --color-text-teriary: #6b6b6b;
    --color-text-info: #5b5b5b;
}
