.wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 30px;
    border-right: 1px solid #202122;
    background: #2e2f37;
    box-sizing: border-box;
    overflow: auto;

    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    // Logo(h1)
    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    h1 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;

        strong {
            position: relative;
            font-size: 3.4rem;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -4px;
            background: linear-gradient(124deg, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-teriary) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all 0.2s;
        }
        > span {
            color: var(--color-text-info);
            font-size: var(--size-xsm);
            font-weight: normal;
            line-height: 1;
        }
    }

    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    // Nav
    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    nav {
        padding: 8em 0 0 1em;

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                a {
                    display: block;
                    position: relative;
                    padding: 8px 0;
                    color: var(--color-text-secondary);
                    font-size: var(--size-lg);

                    > span {
                        position: relative;
                        line-height: 1;
                        transition: all 0.3s;
                    }

                    &:before {
                        content: var(--navName);
                        position: absolute;
                        left: 0;
                        background: linear-gradient(124deg, var(--color-primary) 0%, var(--color-secondary) 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        transition: all 0.3s;
                        opacity: 0;
                        z-index: 1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: -20px;
                        width: 0;
                        height: 1px;
                        background: linear-gradient(124deg, var(--color-primary) 0%, var(--color-secondary) 100%);
                        transition: all 0.3s;
                    }

                    &:hover,
                    &[aria-current='page'] {
                        > span {
                            opacity: 0;
                        }
                        &:before {
                            opacity: 1;
                        }
                    }
                    &[aria-current='page'] {
                        > span {
                            font-weight: 800;
                        }
                        &:after {
                            width: calc(120%);
                            left: -10px;
                            font-weight: 800;
                            opacity: 1;
                        }
                    }
                }

                li {
                    padding-left: 1.5em;

                    a {
                        color: var(--color-text-teriary);
                        font-size: var(--size-sm);
                    }
                }
            }
        }
    }
}
