.navigate-push-enter {
    transform: translateY(100vh);
}

.navigate-push-enter-active {
    z-index: 1;
    transform: translateY(0);
    transition: transform 300ms ease-in-out;

    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
}

.navigate-push-exit {
    transform: translateY(0);
}

.navigate-push-exit-active {
    transform: translateY(-100vh);
    transition: transform 300ms ease-in-out;
}

.transition-wrapper {
    position: relative;
    width: 100vh;
}
