.wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 30px;
    border-right: 1px solid #e1e1e1;
    background: #f5f5f5;
    box-sizing: border-box;
    overflow: auto;

    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    // Logo(h1)
    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    h1 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;

        > strong {
            color: #333;
            font-size: 3.4em;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -4px;
        }
        > span {
            color: #666;
            font-size: 0.75rem;
            font-weight: normal;
            line-height: 1;
        }
    }

    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    // Nav
    // ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    nav {
        padding-top: 50px;

        ul {
            li {
                a {
                    display: block;
                    padding: 10px;

                    &:hover {
                        color: #952266;
                    }

                    @at-root .activeItem {
                        color: #952266 !important;
                        text-decoration: underline !important;
                    }
                }

                li {
                    padding-left: 1em;

                    a {
                        padding: 5px;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}
